import * as React from "react";
{{#if redux}}
import { bindActionCreators } from 'redux';
import { StoreState } from '{{pathToRedux}}types/index';
import { connect, Dispatch } from 'react-redux';
{{/if}}{{#if imports}}{{#each imports}}{{{this}}}
{{/each}}{{/if}}{{#if components}}{{#each components}}import {{this}} from './{{this}}';
{{/each}}{{/if}}
{{#unless isRoute}}export interface {{resourceName}}Props {
}
{{/unless}}
export interface State {
}

class {{resourceName}} extends React.Component<{{#unless isRoute}}{{resourceName}}Props, {{/unless}}State> {
  constructor({{#unless isRoute}}props: {{resourceName}}Props{{/unless}}) {
    {{#unless isRoute}}super(props);
    {{/unless}}this.state = {};
  }

  async componentDidMount() {

  }

  render() {
    return (<div>{{#if content}}{{#each content}}
      {{{this}}}{{/each}}{{else}}
      {/* Content goes here */}{{/if}}
    </div>);
  }
}
{{#if redux}}
export function mapStateToProps({  }: StoreState) {
}

export function mapDispatchToProps(dispatch: Dispatch<>) {
}

export default connect(mapStateToProps, mapDispatchToProps)({{resourceName}});
{{else}}
export default {{resourceName}};
{{/if}}